

<div class="card-content">
	
	<div class="card-img">
		
		<img src="https://placeimg.com/380/230/nature" alt="fallé">

		<span><h4>{{indiceDestino}}</h4></span>

	</div>

	<div class="card-desc">
		
		<h3>{{destino.nombre}}</h3>
			<span><strong>Incluye</strong></span>
			<ul *ngFor = "let comodidad of destino.comodidades"> <!--Hago uso de *ngFor para iterar sobre el array de comodidades-->
				<li [ngSwitch] = comodidad> <!--Asigno a mi ngSwitch la variable a evaluar-->
					<i style="color: red;" *ngSwitchCase = "'Desayuno'">{{comodidad}}</i> <!--Hago la condicion a dar match-->
					<i style="color: red;" *ngSwitchCase = "'Minibar'">{{comodidad}}</i>
					<i *ngSwitchDefault>{{comodidad}}</i> <!--Hago un default para los que no cumplan los matchs-->
				</li>
			</ul>
		
		<a href="#" class="btn-card" (click) = "fnDestacar()">Destacar</a>
		<span *ngIf = "destino.getSelected() == true" ngNonBindable>SELECCIONADO !!</span>

	</div>

</div>
