
<hr style=" color: ;" />

<h3>Descripciones</h3>
<div>
	<ul>
		
		<descripcion *ngFor = 'let desc of descripciones; let indice = index' [valorDescripcion] = desc>
		
		</descripcion>
		
	</ul>
</div>

