<div class="container-content">

	<div class="row">

		<div class="col-md-6 offset-md-3">

			<span class="anchor" id="formLogin"></span>

			<!-- Formulario para login con validacion -->
			<div class="card card-outline-secondary">

				<div class="card-header">
					<h3 class="mb-0">Whishlist</h3>
				</div>
				<div class="card-body">
					<form>
						<div class="form-group">
							<label for="nombre">Nombre:</label>
							<input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre: ..."
								#nombre>
						</div>
						<div class="form-group">
							<label for="imagenUrl">Imagen Url:</label>
							<input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url: ..."
								#urlImagen>
						</div>
						<button type="submit" class="btn btn-primary"
							(click)="mostrar(nombre.value, urlImagen.value)">Guardar</button>
					</form>
				</div>

			</div>


		</div>

	</div>

	<hr class="mb-5">

	<div class="row">
		<destino-viaje 
			*ngFor="let dest of wish; let indice = index" 
				[destino]="dest"
				[indiceDestino] = "indice+1"
				(emitidor) = "elegido($event)"> <!--Pasar como argumento el mismo objeto que tiene el EventEmitter
				Es lo mismo que si yo le mando el elemento dest, presente en la lista de destinos-->
				
		</destino-viaje>
	</div>


</div>